body {
  margin: 0;
  padding: 0;
  background-color: #CEC4C4;
}

#header {
  background-image: url(images/header\ photo.jpg);
  background-size: cover;
  max-width: 100vw;
  height: 90vh;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
  font-family: "Saira Condensed", sans-serif;
  z-index: 0;
  position: relative;
}
#header #header-body {
  font-size: 1.2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 900;
}
#header #header1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-top: 0.5em;
  -webkit-text-stroke: 0.8px #fff;
}
#header #header1 svg {
  fill: #F30404;
  height: 7.5vh;
  width: 7.5vw;
  margin-left: 2em;
  margin-right: -1.5em;
  cursor: pointer;
}
#header #header1 h1 {
  cursor: pointer;
}
#header #header2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-top: 0.5em;
}
#header .header2 {
  padding: 0 0.7em;
}
#header #tag-line {
  margin-left: 1.08em;
  font-size: 4.2vw;
  line-height: 2em;
  -webkit-text-stroke: 1.8px #fff;
}
#header span {
  color: #BE4042;
}
#header a {
  color: #fff;
  text-decoration: none;
  -webkit-text-stroke: 0.8px black;
}

#body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: -10.7% auto 0 auto;
  padding: 2em;
  max-width: 40vw;
  height: 12.5vh;
  background-color: #E8E7E8;
  font-family: "Saira Condensed", sans-serif;
  z-index: 1;
  position: relative;
  color: #BE4042;
}
#body #membership {
  font-size: 0.5vw;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 8em;
}
#body #membership svg {
  height: 6.5vh;
  width: 6.5vw;
  cursor: pointer;
}
#body #weights {
  font-size: 0.5vw;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 8em;
}
#body #weights svg {
  height: 6.5vh;
  width: 6.5vw;
  cursor: pointer;
}
#body #meal-plan {
  font-size: 0.5vw;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 8em;
}
#body #meal-plan svg {
  height: 6.5vh;
  width: 6.5vw;
  cursor: pointer;
}

#body2 {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#body2 #body-text {
  margin-left: 16%;
}
#body2 #body-text123 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
#body2 #body-text1 {
  font-size: 1.5vw;
  line-height: 2em;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -10%;
  width: 25vw;
  font-family: "Saira Condensed", sans-serif;
}
#body2 #body-text2 {
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-top: -8%;
  width: 25vw;
  font-family: "Inter", sans-serif;
}
#body2 #body-text2 p {
  font-size: 1.6vw;
  font-weight: 300;
  margin-bottom: -3%;
}
#body2 #body-text3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Saira Condensed", sans-serif;
  margin-top: 15%;
}
#body2 #body-text3 button {
  font-size: 1.6vw;
  font-weight: 700;
  text-align: center;
  justify-content: center;
  padding: 0.25em 1em;
  border: none;
  background-color: #BE4042;
  color: #fff;
  cursor: pointer;
}
#body2 img {
  margin-left: 31%;
  width: 40vw;
}
#body2 svg {
  margin-right: 3%;
  height: 1.8%;
  width: 1.8%;
}

#left-footer {
  font-family: "Saira Condensed", sans-serif;
  color: #fff;
  margin-top: 10%;
  margin-left: 10%;
}
#left-footer #join {
  font-size: 1.3vw;
}
#left-footer #email {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -2%;
}
#left-footer #email svg {
  margin-right: 0.25em;
}
#left-footer #email h2 {
  font-size: 1.2vw;
}
#left-footer #number {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -2.8%;
  margin-left: 0.1%;
}
#left-footer #number svg {
  margin-right: 0.5em;
}
#left-footer #number h2 {
  font-size: 1.2vw;
}

#right-footer #social svg {
  z-index: 0;
  position: relative;
  top: -8em;
  left: 87%;
  padding: 0.4em;
}
#right-footer #terms {
  display: flex;
  flex-direction: row;
  justify-content: end;
  color: #fff;
  font-family: "Inter", sans-serif;
  left: 50px;
  padding-right: 2%;
  font-weight: 200;
  margin-top: -2.5%;
}
#right-footer #terms #privacy {
  margin-right: 1%;
}

#spacer {
  width: 100%;
  height: 35vh;
  background: black;
  margin-top: -18%;
  z-index: -1;
  position: relative;
}/*# sourceMappingURL=style.css.map */